<section class="container">
    <form>
        <h3>Subsidiewijzer Admin Portal</h3>
        <p>Vul hier graag uw nieuwe wachtwoord in en bevestig deze. Het wachtwoord moet minimaal 8 tekens lang zijn, een hoofdletter en een especiaal karakter bevatten.</p>

        <input type="password" id="passwordField1" name="passwordField1" placeholder="Wachtwoord" />

        <input type="password" id="passwordField2" name="passwordField2" placeholder="Herhaal Wachtwoord" />

        <a [routerLink]="['../login']"
           [routerLinkActive]="['is-active']"
           class="small-button">
            terug naar login scherm
            <i class="svdj-small-corner"></i>
        </a>

        <button type="button" class="svdj-button">
            Reset wachtwoord
            <i class="button-corner"></i>
        </button>

    </form>
</section>
