<app-admin-nav></app-admin-nav>

<section class="center-view-box">

    <section class="left-list">
        <button (click)="newAdvice()" class="new">
            +
        </button>

        <app-advice [advices]="advices" (onAdviceSelected)="editAdvice($event)"></app-advice>
    </section>

    <section class="right-form">

        <form *ngIf="currentAdvice">

            <button type="button" (click)="deleteAdvice()" class="delete-button" *ngIf="currentAdvice.adviceID">Delete <i class="svdj-corner-delete"></i></button>

            <p class="error">{{errorLabel}}</p>

            <input type="text" placeholder="Naam advies" [(ngModel)]="currentAdvice.name" name="name" />

            <textarea type="text" placeholder="Beschrijving" [(ngModel)]="currentAdvice.description" name="description"></textarea>

            <!-- TODO: add grants to this advice -->

            <button type="button" (click)="saveAdvice()" class="svdj-button">
                Opslaan <i class="button-corner"></i>
            </button>
        </form>

        <section class="nothing-selected">
            Niks geselecteerd
        </section>
    </section>

</section>