<app-admin-nav></app-admin-nav>

<section class="center-view-box">

    <section class="left-list">
        <button (click)="newAdvice()" class="new">
            +
        </button>

        <app-advice [advices]="advices"></app-advice>
    </section>

    <section class="right-form">

        <form *ngIf="currentAdvice">
            <input type="text" placeholder="Naam advies" />

            <textarea type="text" placeholder="Beschrijving"></textarea>

            <!-- TODO: add grants to this advice -->

            <button type="button" (click)="saveAdvice()" class="svdj-button">
                Opslaan <i class="button-corner"></i>
            </button>
        </form>

        <section class="nothing-selected">
            Niks geselecteerd
        </section>
    </section>

</section>