<div class="sidenav" id="sideNav">
    <button (click)="closeMenu()" class="close-button">&#10006;</button>
    <a [routerLink]="['home']"
       [routerLinkActive]="['is-active']" (click)="closeMenu()">Home <i class="svdj-corner"></i></a>
    <a [routerLink]="['subsidie']"
       [routerLinkActive]="['is-active']" (click)="closeMenu()">Subsidies <i class="svdj-corner"></i></a>
    <a [routerLink]="['advies']"
       [routerLinkActive]="['is-active']" (click)="closeMenu()">Adviezen <i class="svdj-corner"></i></a>
    <a [routerLink]="['vraag']"
       [routerLinkActive]="['is-active']" (click)="closeMenu()">Vragen <i class="svdj-corner"></i></a>
    <a [routerLink]="['gebruikers-inzicht']"
       [routerLinkActive]="['is-active']" (click)="closeMenu()">Gebruikers inzicht <i class="svdj-corner"></i></a>

    <!-- TODO: LogOut(); -->
  <a><button class="btn logout" (click)="logOut()"> Uitloggen <i class="svdj-corner"></i></button></a>
</div>

<button (click)="openMenu()" class="open-button">
    <b>&#9776;</b>
</button>
