<app-admin-nav></app-admin-nav>
<router-outlet></router-outlet>

<!--<div>-->
<!--  <section *ngIf="commonAdvice">-->
<!--    <header>-->
<!--      <h1> This is the main screen</h1>-->
<!--    </header>-->
<!--    <p> Most common Advice {{commonAdvice._name}}</p>-->
<!--    <p>{{commonAdvice._description}}</p>-->
<!--    <section *ngFor="let grant of commonAdvice._grants">-->
<!--      <h2>{{grant._name}}</h2>-->
<!--      <p>{{grant._description}}</p>-->
<!--    </section>-->
<!--  </section>-->
<!--</div>-->
