<section class="container">
    <form>
        <h3>Subsidiewijzer Admin Portal</h3>
        <p>Stuur een token naar het email adres dat is verbonden met uw account.</p>

        <input type="text" id="emailField" name="emailField" placeholder="Email" />

        <a routerLink="/login" class="small-button">
            terug naar login scherm
            <i class="svdj-small-corner"></i>
        </a>

        <button type="button" class="svdj-button">
            Stuur een token per email
            <i class="button-corner"></i>
        </button>
        
    </form>
</section>