#side-extra-info {
    height: 100vh;
    width: 750px;
    position: fixed;
    top: 0;
    right: -800px;
    z-index: 3;
    background-color: white;
    padding: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 1.8em;
    border: solid black;
    border-width: 3px 0px 0px 3px;
    width: 300px;
    padding: 10px 0px 0px 20px;
    margin-top: 50px;
}

h3 {
    margin-top: 50px;
    font-size: 1.4em;
}

.video-container {
    width: 100%;
    padding-top: 56.25%;
}

.iframe-holder {
    max-width: 100%;
    margin: 0px auto;
}

.iframe-holder > div {
    position: relative;
    padding-bottom: 56.25%;
    height: 0px;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.more-info-button-holder {
    width: 50vw;
    height: 10px;
    margin: auto;
    display: block;
    align-content: flex-end;
}

.more-info-button {
    float: right;
    display: block;
    padding: 10px;
    width: auto;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
}
  
.more-info-button > .button-corner {
    display: inline-block;
    width: 40px;
    height: 12px;
    border: solid #000000;
    border-width: 2px 2px 0px 0px;
    margin-left: 15px;
    transition: 0.3s;
}

.close-button {
    font-size: 3em;
    font-weight: bold;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 1550px) {
    #side-extra-info {
        width: 50%;
    }
}

@media screen and (max-width: 1250px) {
    #side-extra-info {
        width: 600px;
    }
}

@media screen and (max-width: 750px) {
    #side-extra-info {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #side-extra-info {
        padding: 15px;
    }
}