<div class="more-info-button-holder" *ngIf="question.extraInfoTile !== null && question.extraInfoTile !== ''">
  <button (click)="openInfo()" class="more-info-button">Meer informatie <i class="button-corner"></i></button>
</div>

<div id="side-extra-info">
  <button (click)="closeInfo()" class="close-button">&#10006;</button>

  <h1>{{question.extraInfoTile}}</h1>
  <h3 *ngIf="question.extraInfoDescription !== null && question.extraInfoDescription !== ''">
    {{question.extraInfoDescription}}</h3>


  <div *ngIf="question.extraInfoVideoURL !== null && question.extraInfoVideoURL !== ''">
    <h2>Informatie Video</h2>
    <div class="iframe-holder">
      <div>
        <iframe [src]='getUrl(post)' title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>