<body>
    <section class="container">
        <form>
            <h3>Subsidiewijzer Admin Portal</h3>

            <input type="text" id="emailField" placeholder="Email" />

            <input type="password" id="passwordField" placeholder="Wachtwoord" />

            <a [routerLink]="['../wachtwoord-vergeten']"
               [routerLinkActive]="['is-active']"
               class="small-button">
                wachtwoord vergeten
                <i class="svdj-small-corner"></i>
            </a>

            <button type="button" class="svdj-button">
                Log in
                <i class="button-corner"></i>
            </button>

        </form>
    </section>
</body>
