html, body {
    background-image: url(../../../assets/images/forgot-password-background.png);
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    background-color: #FFFFFF;
    height: inherit;
    width: 750px;
    padding: 50px;
}

form {
    width: 450px;
    text-align: center;
}

h3 {
    padding-top: 15px;
    font-weight: 700;
    font-size: 1.5em;
}

input {
    margin-top: 50px;
    width: 350px;
    padding: 5px 15px;
    border: solid #000000;
    border-width: 0px 0px 0px 1px;
    outline: none;
    font-weight: 600;
}

.small-button {
    display: block;
    width: 350px;
    margin: 15px auto;
    text-align: right;
    color: #000000;
    text-decoration: none;
    font-size: 1em;
}

.svdj-small-corner {
    display: inline-block;
    border: solid #000000;
    border-width: 1px 1px 0px 0px;
    margin-left: 10px;
    height: 10px;
    width: 25px;
}

.svdj-button {
    float: right;
    margin: 15px 50px;
    background-color: #000000;
    padding: 15px 20px;
    transition: 0.3s;
    width: auto;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.6em;
    border: none;
}

.svdj-button > .button-corner {
    display: inline-block;
    width: 75px;
    height: 20px;
    border: solid #FFFFFF;
    border-width: 3px 3px 0px 0px;
    margin-left: 15px;
    transition: 0.3s;
}

.svdj-button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.svdj-button:hover > .button-corner {
    border-color: #000000;
}

app-send-token {
    height: 95vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

app-verify-token {
    height: 95vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

app-reset-password {
    height: 95vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

@media screen and (max-width: 1650px) {
    .container {
        width: 50vw;
    }
}

@media screen and (max-width: 1100px) {
    form {
        width: inherit;
    }

    input {
        width: 100%;
    }

    .svdj-button {
        margin-right: 0px;
    }
}

@media screen and (max-width: 850px) {
    .container {
        width: 100%;
    }

    form {
        width: 400px;
    }
}
