.answer-box {
    width: 100%;
    background-color: #F7F7F7;
    margin: 10px auto;
    padding: 20px;
    font-size: 1.3em;
    cursor: pointer;
}

.answer-box > label {
    font-weight: normal;
}

input[type="radio"] {
    margin-right: 15px;
    border-radius: 3px solid black;
    border-radius: 50%;
}
