<div class="sidenav" id="sideNav">
    <button (click)="closeMenu()" class="close-button">&#10006;</button>
    <a routerLink="/admin">Home <i class="svdj-corner"></i></a>
    <a routerLink="/admin/subsidie">Subsidies <i class="svdj-corner"></i></a>
    <a routerLink="/admin/advies">Adviezen <i class="svdj-corner"></i></a>
    <a routerLink="/admin/vraag">Vragen <i class="svdj-corner"></i></a>
    <a routerLink="/admin/gebruikers-inzicht">Gebruikers inzicht <i class="svdj-corner"></i></a>

    <!-- TODO: LogOut(); -->
    <a routerLink="/admin">Uitloggen <i class="svdj-corner"></i></a> 
</div>

<button (click)="openMenu()" class="open-button">
    <b>&#9776;</b>
</button>